div, main, section, footer, header {
  outline: 1px solid #ccc; 
  min-height: 1rem; 
  padding: 1rem; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box; 
}

img {
  width: 100%; 
}

.row {
  display: grid; 
  row-gap: 1rem; 
}

.col {
  position: relative; 
}

.page-main {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
  display: inline; 
  margin: 0 10px; 
}

.header-inner-container {
  display: flex; 
}

.header-logo, .header-navbar {
  flex: 1; 
}

.header-logo {
  display: inline-block;  
}

.metrolics-wordmark {
  position: absolute; 
}

.metrolics-logo {
  height: 1rem; 
  width: 1rem;
  margin-left: 5rem;  
  margin-top: 1rem; 
}

a {
  text-decoration: none; 
  color: white;
}

.description-heading {
  font-weight: 400;
  text-align: center; 
}

.character-style {
  color: #89CFF0;
}

.services-inner-container {
  padding: 2rem;
}

.heading {
  text-align: center;
  line-height: .5;
}

.home-navbar{
  background-color: #50C878;
  padding: 2rem;
  margin: -2.5px;
}

.pages-navbar{
  background-color: #FFBF00;
  padding: 2rem;
  margin: -2.5px;
}

.blog-navbar{
  background-color: #FA5F55;
  padding: 2rem;
  margin: -2.5px;
}

.portfolio-navbar{
  background-color: #7FB3D5;
  padding: 2rem 1.3rem 2rem;
  margin: -2.5px;
}

.email-navbar{
  background-color: #1F618D;
  padding: 2rem;
  margin: -2.5px;
}

.section-heading {
  font-weight: 350;
}

.section-subheading {
  font-weight: 100;
  color: #71797E;
}

.services-box {
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  align-items: center;
  text-align: center;
  padding: auto;
}

.section-title {
  font-weight: 400;
}

.section-description {
  font-size: 0.688rem;
  color: #71797E;
}

.news-inner-container {
  text-align: center;
}

/* small screen only */
@media screen and (max-width: 39.9375em) {
  .s-hide {
    display: none; 
  }
}

/* medium screen and up */
@media screen and (min-width: 40em) {
  .row {
    max-width: 70rem; 
    column-gap: 1.5rem; 
    row-gap: 1.5rem; 
    margin: 0 auto; 
  }
  .grid {
    display: grid; 
    column-gap: 0.5rem; 
    row-gap: 0.5rem; 
  }
  .m-col-2 {
    grid-template-columns: 1fr 1fr; 
  }
  .m-col-3 {
    grid-template-columns: repeat(3, 1fr); 
  }
  .m-col-4 {
    grid-template-columns: repeat(4, 1fr); 
  }
  .m-col-5 {
    grid-template-columns: repeat(5, 1fr); 
  }
  .m-1-2 {
    grid-template-columns: 1fr 2fr; 
  }
}

/* medium screen only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .m-row-span {
    grid-column-start: 1; 
    grid-column-end: -1; 
  }
  .m-hide {
    display: none; 
  }
}

/* large screen and up */
@media screen and (min-width: 64em) {
  .l-col-2 {
    grid-template-columns: 1fr 1fr; 
  }
  .l-col-3 {
    grid-template-columns: repeat(3, 1fr); 
  }
  .l-col-4 {
    grid-template-columns: repeat(4, 1fr); 
  }
  .l-col-5 {
    grid-template-columns: repeat(5, 1fr); 
  }
  .l-col-6 {
    grid-template-columns: repeat(6, 1fr); 
  }
  .l-row-span {
    grid-column-start: 1; 
    grid-column-end: -1; 
  }
  .l-hide {
    display: none; 
  }
}
