.page-main{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.description-heading{
  font-weight: 400;
}

.character-style{
  color: #89CFF0;
}

.services-inner-container{
  padding: 2rem;
}

.services-heading{
  text-align: center;
  line-height: .688rem;
}

.section-heading{
  font-weight: 350;
}

.section-subheading{
  font-weight: 100;
  color: #71797E;
}

.services-box{
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  text-align: center;
  padding: auto;
  width: 15%;

}

.section-title{
  font-weight: 400;
}

.section-description{
  font-size: 0.688rem;
  color: #71797E;
}